---
layout: splash
permalink: /gallery
title:  "Molecule Gallery"
description: Nanotube intersections moelcule gallery
author:
  twitter: geoffclark4
date:   2020-05-13
---

<h1>Gallery</h1>

<h3>intersection-of-32-pipes #C6720</h3>
<img src="/assets/img/intersection-of-32-pipes.png" />

<h3>intersection-of-32-pipes-cross-section #C6720</h3>
<img src="/assets/img/intersection-of-32-pipes-cross-section.png" />

{% for image in site.static_files %}
    {% if image.path contains 'img/models' %}
        <h3>{{ image.name | replace: ".jpg", "" }}</h3>
        <img src="{{ site.baseurl }}{{ image.path }}" />
    {% endif %}
{% endfor %}
