---
layout: archive
title: "Nano Tube Intersections"
author_profile: true
header:
  overlay_color: "#ffffff"
  overlay_filter: "0.25"
  overlay_image: /assets/img/nti.png
---

<div class="grid__wrapper">
  {% for post in site.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

<script src="/assets/js/3Dmol-min.js"></script>

<h1>Tetrahedral Nanotubes</h1>

<div style="height: 250px; max-width: 800px;"
  class='viewer_3Dmoljs' data-datatype='xyz'
  data-backgroundcolor="#FFFFFF"
  data-href='/assets/molecules/geoff-clark-4.xyz'
  data-style='stick'>
</div>
