---
layout: archive
title: "Nano Tube Intersections"
author_profile: true
header:
  overlay_color: "#ffffff"
  overlay_filter: "0.25"
  overlay_image: /assets/img/header.png
headshots:
  - url: /assets/img/Geoff-Clark-2b.png
    image_path: /assets/img/Geoff-Clark-2b.png
    alt: "Geoff-Clark"
    title: "Geoff Clark"
  - url: /assets/img/KutayBSezginel.jpg
    image_path: /assets/img/KutayBSezginel.jpg
    alt: "Kutay-B-Sezginel"
    title: "Kutay B. Sezginel"
---

<div class="grid__wrapper">
  {% for post in site.posts %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

<h3>Acknowledgements</h3>

Molecules in this website were created using
<a href="https://avogadro.cc">Avogadro</a> molecular editor.

<img src="/assets/img/avogadro-logo.png" alt="avogadro" />
